.card {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
  color: #fff;
}
